.home{
    padding:90px;
    margin-top:1px;
    text-align: center;
    
    
}
.home h4{
    color:antiquewhite;
    font-size:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 20px;
}